<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shubh.eato">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EatO"
        tools:targetApi="31">
        <activity
            android:name=".Profile.AttributionActivity"
            android:exported="false" />
        <activity
            android:name=".feedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".reviewsActivity"
            android:exported="false" />
        <activity
            android:name=".SuccesfullyOrderedActivity"
            android:exported="false" />
        <activity
            android:name=".WalletActivity"
            android:exported="false" />
        <activity
            android:name=".categoryItemActivity"
            android:exported="false" />
        <activity
            android:name=".FoodItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Verification.SignUpDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Verification.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Verification.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".Verification.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Greeting.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>